[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.5"

[packages]
"psycopg2" = "*"
Django = "==2.2.13"
request = "*"
pylint-django = "*"
requests = "*"
"fabric2" = "*"
fabric = "*"
