
{% extends "base_generic.html" %}

{% block content %}
  <h1>Local Library Home</h1>
  <p> <em>Teams</em>!</p>
    <ol>
        {% for item in teams %}
        <li>{{ item }}</li>
        {% endfor %}
    </ol>
{% endblock %}

{% block sidebar %}
    <h1>Teams</h1>
    <h1>{{ team_name }}</h1>
    <h1>{{ num_authors }}</h1>
    <p>Here are the matches:</p>

    <ol>
        {% for item in teams %}
        <li>{{ item }}</li>
        {% endfor %}
    </ol>
    <a href="{% url 'season' %}">Season</a>.
{% endblock %}